*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  background-color: rgb(50, 50, 50);
  box-shadow: 10px 10px 10px rgb(0,0,0);
}

nav a {
  color: rgb(240, 240, 240);
  display: inline-block;
  text-decoration: none;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.5s ease;
}

nav a:hover {
  background-color: rgb(150, 150, 150);
}

body {
  background-image: url('../img/background..jpg');
  background-size: 100%;
  background-attachment: fixed;
}

.container {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  opacity: 0.35;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(0,0,0);
}

.container h1 {
  margin: 0;
}

.container a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}

.code {
  overflow: auto;
  max-width: 100%;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container pre {
  margin: 0;
}

.table-container table th,
.table-container table td {
  border: 1px solid rgb(50, 50, 50);
  padding: 5px;
}